$article-background-color: #ebd49d;
$icon-color: #748f66;
$title-color: #ddd888;
$text-color: #000000;
$button-hover-color: #748f66;
$input-background: #e5e5e5;
$input-border-color: #748f66;
$input-icon-color: #333333;
$background-color: #ffffff;
$section-background-color: #ebd49d;
$button-background-color: #748f66;
$text-color: #000000;
$error-color: #ff0000;