.home-container {
    padding: 20px;
    text-align: center;
  }
  
  .home-header {
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  
  .home-nav ul {
    list-style: none;
    padding: 0;
  
    li {
      margin: 10px 0;
    }
  
    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }
  }
  
  .home-intro {
    margin: 20px 0;
  
    h2 {
      font-size: 1.25rem;
    }
    p {
      font-size: 1rem;
    }
  }
  
  .home-products {
    h2 {
      font-size: 1.25rem;
      margin-bottom: 10px;
    }
  
    .product-grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      .product-card {
        background: #f5f5f5;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
  
        img {
          max-width: 100%;
          height: auto;
          border-radius: 8px;
        }
  
        h3 {
          font-size: 1.125rem;
          margin: 10px 0;
        }
  
        p {
          font-size: 0.875rem;
          color: #666;
        }
  
        button {
          background-color: #748f66;          ;
          color: #fff;
          padding: 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
  
  .home-footer {
    margin-top: 30px;
    font-size: 0.875rem;
    background-color: #748f66;
  }
  